@tailwind base;
@tailwind components;
@tailwind utilities;

._swiper_btn_container {
  display: flex;
}
._swiper_btn_container > * + * {
  margin-left: 1rem;
}
._swiper_arrow {
  background: rgb(226, 226, 231);
  border-radius: 100%;
  padding: 8px 8px 8px;
}
._image_grid > * + * {
  margin-left: 1rem;
}
._image_grid::-webkit-scrollbar {
  display: none;
}
._gap_ > * + * {
  margin: 0.5rem;
}
._other_::after{
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 40px;
  background-color: #3d4152;
}
.restrolist{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
}